@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("https://cdn.tabletop.media/fonts/cardrpg/icons.ttf?pcyl6q")
      format("truetype"),
    url("https://cdn.tabletop.media/fonts/cardrpg/icons.woff?pcyl6q")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-example {
  &:before {
    content: $icon-example;
  }
}
.icon-success {
  &:before {
    content: $icon-success;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-caution {
  &:before {
    content: $icon-caution;
  }
}
.icon-danger {
  &:before {
    content: $icon-danger;
  }
}
.icon-tip {
  &:before {
    content: $icon-tip;
  }
}
