$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-example: "\f022";
$icon-success: "\f046";
$icon-question: "\f059";
$icon-info: "\f05a";
$icon-caution: "\f071";
$icon-danger: "\f0e7";
$icon-tip: "\f0eb";

