html,
body,
.content {
  font-size: 16px;
  background: url("https://cdn.tabletop.media/bg.webp") repeat;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

a,
a:any-link {
  text-decoration: none !important;
  color: #8f9fef !important;
}
